# Compiled source files for the engine to use
/Intermediate/

# Binary files
/Binaries/

# .bin files representing the raw data for the language models as they are too large
/Content/**/*.bin

# LanguageModels folder containing the uassets representing the language models as they are too large
/Content/LanguageModels/